* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.main_container {
  display: flex;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #090909e1;
  color: #fff;
}

.profile_pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile_pic h2 {
  margin-top: 10px;
}

.profile_pic img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.link_container {
  flex-grow: 1;
}

.link_container ul {
  list-style: none;
  padding: 0;
}

.link_container ul li {
  margin-bottom: 25px;
}

.link_container ul li a {
  text-decoration: none;
  color: #fff;
}

.socialmedias {
  margin-top: auto;
}

.main-content {
  margin-left: 20%;
  width: 80%;
  overflow-y: auto;
  padding: 20px;
}

.homepage,
.aboutme,
.services,
.portfolio,
.contact {
  width: 100%;
  height: 100vh;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid red;
}

.styled-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  margin-top: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.styled-button:hover {
  background-color: #2980b9;
  transform: translateY(-3px);
}

.styled-button:active {
  background-color: #1c5986;
  transform: translateY(0);
}
