* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main_container {
}

.navbar {
  border: 1px solid red;
  width: 18%;
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #090909e1;
  color: #fff;
}

.profile_pic {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_pic h2 {
  padding: 20px;
}

.profile_pic img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}
.link_container {
  padding: 43.8px;
  border: 1px solid red;
}
.link_container ul li {
  list-style-type: none;
  padding-bottom: 25px;
}
.link_container ul li a {
  text-decoration: none;
  color: #fff;
}
.socialmedias {
  margin-top: 30px;
  padding: 20px 38px;
  border: 1px solid red;
}
